<!--
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Options</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()" ng-class="{'item-positive': currentUser.username}">
          {{currentUser.username ? "Signed in as " + currentUser.username : "Sign In"}}
        </ion-item>
        <ion-item menu-close href="#/app/products">
          Products
        </ion-item>
        <ion-item menu-close href="#/app/orders">
          Orders
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>-->

<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="expanded bar bar-header disable-user-behavior" style="background:url('img/stressed_linen_@2x.png');">
      <img src="img/1452854844_shopping_bag.svg" class="avatar motion spin fade">
      <div class="menu-bottom">
        {{currentUser.username}}
      </div>
    </ion-header-bar>
    <ion-content class="dark-bg has-expanded-header">
      <ion-list>
        <!-- <ion-item menu-close ng-click="login()" ng-class="{'item-positive': currentUser.username}">
          {{currentUser.username ? "Signed in as " + currentUser.username : "Sign In"}}
        </ion-item> -->
        <ion-item menu-close href="#/app/products">
          <i class="icon ion-bag"></i>
          Products
        </ion-item>
        <ion-item menu-close href="#/app/orders">
          <i class="icon ion-pricetag"></i>
          Orders
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

