<ion-view view-title="Orders">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="goNewOrder()">
      New Order
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="orders.length > 0 || pendingOrder.items.length > 0">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-if="showDebugMessages">{{orders | json }} <br/><br/>{{pendingOrder | json}}</div>
    <ion-list>
      <ion-item href="#/app/orders/create" ng-if="pendingOrder.items.length > 0" class="item-assertive item-icon-right">Pending Order {{pendingOrder.items.length}} items
        <i class="icon ion-arrow-right-c"></i></ion-item>
      <ion-item ng-repeat="order in orders | orderBy: 'createdAt':true" href="#/app/orders/{{order.id}}">
        <h2>{{order.get("first_name")}} {{order.get("last_name")}}</h2>
        <p>Order: {{order.id}}<br/>
          Items: {{order.get("items").length}}<br/></p>
    <span class="item-note">
      {{order.createdAt | date: 'dd-MM-yyyy @ HH:mm a'}}
    </span>
      </ion-item>



    </ion-list>
    </div>
    <div class="center" ng-if="orders.length == 0 && pendingOrder.items.length == 0">
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" style="padding-top:10px;" ng-click="goOrders()">
            <img src="img/1452854844_shopping_bag.svg"/><br/>
            <strong>You have no orders. <br/>Click 'New Order' above to create one
          </button>

        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
