<ion-view view-title="Order Placed">

    <ion-content class="center">


        <div class="row">
            <div class="col">
                <button class="button button-block button-positive" style="padding-top:10px;" ng-click="goOrders()">
                    <img src="img/1452854844_shopping_bag.svg"/><br/>
                    <strong>Your order has been placed</strong> <br/>Please check your email.
                </button>

                <button class="button button-block button-outlined" ng-click="goOrders()">Return to orders</button>
            </div>
        </div>
    </ion-content>
</ion-view>
