<ion-view view-title="Products">
  <ion-content>
      <div ng-if="showDebugMessages">{{allProducts | json }}</div>
      <ion-list>
        <ion-item ng-repeat="product in allProducts" href="#/app/products/{{product.id}}" class="item item-thumbnail-left">
          <img ng-src="{{product.get('photo').url()}}">
          <h2>{{product.get('name')}}</h2>
            <p>{{product.get('description')}}</p>
            <div class="price-display ng-binding" style="background: rgba(0,0,0,0.6); color: #fff;position:absolute;padding: 2px 10px;right:10px; border-radius:3px;">${{product.get('price') | number:2}}</div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
