<ion-view view-title="{{pendingProduct.id ? 'Save Product' : 'Add Product'}}">

    <ion-content>

        <div class="im-wrapper">


            <div class="list">
                <div class="card pad">
                <span class="item item-body">
                                    <span ng-if="!pendingProduct.id">Fill in the details below and click 'Add Product' to add to your inventory.</span>
                <span ng-if="pendingProduct.id">Make any changes required and click 'Save Product' to update in inventory.</span>
                </span>


                </div>
                <div class="card pad">
                    <div class="item item-divider">

                        Product Information
                    </div>

                    <input type="hidden" ng-model="pendingProduct.id"/>


                    <label class="item item-input item-floating-label">
                        <span class="input-label">Product Name</span>
                        <input type="text" placeholder="Product Name" ng-model="pendingProduct.name">
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Description</span>
                        <textarea placeholder="Description" ng-model="pendingProduct.description"></textarea>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Price</span>
                        <input type="number" placeholder="Price" ng-model="pendingProduct.price">
                    </label>

                </div>
                <div class="card pad">

                    <div class="item item-divider">
                        Product Photos
                    </div>
                    <div class="item-body item">

                        <div ng-repeat="photo in pendingProduct.photos">
                            <!-- {{photo | json}} --> <br/><img ng-src="{{photo.url()}}" />
                        </div>
                    </div>

                    <button class="button button-block icon-left ion-camera" ng-click="takePhoto()">Take
                        Photo
                    </button>
                    <br/>
                    <button class="button button-block icon-left ion-ios-film" ng-click="fromGallery()">
                        From Gallery
                    </button>
                    <br/>

                </div>
                <button class="button button-block button-balanced icon-left ion-checkmark-round"
                        ng-click="saveProduct()">
                    {{pendingProduct.id ? "Save Product" : "Add Product" }}
                </button>

            </div>

        </div>
    </ion-content>
</ion-view>