<ion-view view-title="Products">
    {{allProducts | json
  <ion-content>
      <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="doRefresh()">
      </ion-refresher>
      <div ng-if="showDebugMessages">{{allProducts | json }}</div>
      <ion-list>
          <ion-item href="#/app/orders/create" ng-if="pendingOrder.items.length > 0" class="item-assertive item-icon-right">Pending Order {{pendingOrder.items.length}} items
              <i class="icon ion-arrow-right-c"></i></ion-item>
        <item-in-products ng-repeat="product in allProducts | orderBy: 'product.name'" ng-click="goProduct(product)" class="item item-thumbnail-left">

        </item-in-products>
      </ion-list>

      <div class="list" ng-if="allProducts.length == 0">
          <div class="item card-item in done" style="transition-delay: 0.11s;">
              <div ui-sref="app.gallery" class="card stable-bg ink ink-dark" href="#/app/gallery">
                  <div class="item  item-text-wrap in" style="transition-delay: 0.2s;">
                      <h2>No Products.</h2>
                      <p>        Click '+' below to add a new product.
                      </p>
                  </div>
              </div>
          </div>
      </div>

  </ion-content>

    <button id="fab" class="button button-energized-900 button-fab button-fab-bottom-right" ng-click="goNewProduct()">
        <i class="icon ion-ios-plus-empty"></i>
    </button>

</ion-view>
